body {
    background-image: url("1.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: black;
    min-height: 100%;
    max-width: 100%;
}
.header{
    min-width: 100%;
    max-height: 60px;
}
.topnav a{

    display: inline-block;
    color: black;
    text-align: center;
    padding: 0px 0px;
    margin: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}
.topnav{
    margin:auto;
    width: 100%;
    max-width: 440px;




}
.topnav a.active{
    background-color: black;
    color: white;
    padding: 0px;

}
.topnav a:hover{


}



.text1{

    text-align: right;
    font-family: Verdana, Geneva, sans-serif  ;
}

.polosa {
    height: 0.5px;
    width: 445px;

    margin: 5px 0 0 auto;
}

@media screen and (max-width: 420px){
    .topnav a:not(:first-child)
    {
        display: none;
    }
}